.employees {
    display: inline-block;
    text-align: center;
    }

.table td {
   text-align: center;
}

.table th {
   text-align: center;
}

body {
    padding-top: 70px;
  }

body {
    padding-bottom:  70px;
  }



